<footer class="text-center text-lg-start border border-white mt-xl-5 pt-4 bg-dark text-white" style=" font-family: 'Open Sans', sans-serif;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column for Company section-->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-left">
        <h5 class="text-uppercase mb-4">Company</h5>
        <p>We find great people to help make your technology initiatives successful and profitable.</p>
        <ul class="list-unstyled">
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="px-1">800 E NorthWest Hwy, Suite 700 Palatine, IL - 60074, USA.</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="px-1">Whiztek Corp, Workafella Cyber Crown, HiTech City, Hyderabad, Telangana-500032.</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="px-1">Near Shore Services RINCON 468 PISO 2, Montevideo, URUGUAY</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="px-1">14-1-127/1, 2nd Floor, Sri Manikanta Nilyam, Nowraji Road, Pandimeta Junction,
              Visakhapatnam.</span>
          </li>
        </ul>
      </div>
      <!--Grid column for Site Links section-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-left">
        <h5 class="text-uppercase mb-4">Site Links</h5>
        <ul class="list-unstyled">
          <li><a href="https://whiztek.com/services/">Our Services</a></li>
          <li><a href="https://whiztek.com/capabilities/">Our Capabilities</a></li>
          <li><a href="https://whiztek.com/about-us/">Our Portfolio</a></li>
          <li><a href="https://whiztek.com/contact-us/">Contact us</a></li>
          <li><a href="https://whiztek.com/blog/">Blog</a></li>
          <li><a href="https://whiztek.com/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://whiztek.com/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
      <!--Grid column for Contacts section-->
      <div class="col-lg-5 col-md-12 text-left">
        <h5 class="text-uppercase mb-4">Contacts</h5>
        <ul class="list-unstyled">
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-geo-alt text-white bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="ms-2">800 E NorthWest Hwy, Suite 700 Palatine, IL - 60074, USA.</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-telephone-fill text-white bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="ms-2">+1(847) 342-0688</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-envelope-fill text-white bg-secondary rounded-1 p-2 ms-2"></i>
            <span class="ms-2">sales&#64;whiztekcorp.com</span>
          </li>
        </ul>
        <h5 class="text-uppercase mb-4">Social</h5>
        <div class="social-icons">
            <!-- Twitter Icon -->
            <a href="https://twitter.com/YourProfile" target="_blank" class="social-icon me-3"><i class="bi bi-twitter fs-4"></i></a>
            <!-- LinkedIn Icon -->
            <a href="https://www.linkedin.com/in/YourProfile" target="_blank" class="social-icon me-3"><i class="bi bi-linkedin fs-4"></i></a>
            <!-- Facebook Icon -->
            <a href="https://www.facebook.com/YourPage" target="_blank" class="social-icon me-3"><i class="bi bi-facebook fs-4"></i></a>
            <!-- Pinterest Icon -->
            <a href="https://www.pinterest.com/YourProfile" target="_blank" class="social-icon"><i class="bi bi-pinterest fs-4"></i></a>
          </div>
          
      </div>
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 border-top border-white">
    © {{ currentYear }} Copyright : 
    <a class="text-white" href="https://whiztek.com/">Whiztek.com</a>
  </div>
  <!-- Copyright -->
</footer>