<div class="navbar-content-container text-secondary-emphasis bg-body-secondary px-5 py-2 bg-light">
    <!-- Contact Information -->
    <div class="d-flex flex-column flex-md-row justify-content-md-center align-items-center">
        <div class="contact-text mx-1 mb-2 mb-md-0">
            <p class="m-0">Call Us:
                <!-- Phone Number Link -->
                <a href="tel:+18473420688" class="text-decoration-none">+1 (847) 342-0688</a>
            </p>
        </div>
        <!-- Contact Text -->
        <div class="contact-text mx-1">
            <p class="m-0">Email Us:
                <!-- Email Link -->
                <a href="mailto:sales@whiztekcorp.com" class="text-decoration-none">sales&#64;whiztekcorp.com</a>
            </p>
        </div>
        <!-- Social Icons -->
        <div class="social-icons d-flex mx-md-5">
            <!-- Twitter Icon -->
            <a href="https://twitter.com/YourProfile" target="_blank" class="social-icon me-3"><i class="bi bi-twitter"></i></a>
            <a href="https://www.linkedin.com/in/YourProfile" target="_blank" class="social-icon me-3"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.facebook.com/YourPage" target="_blank" class="social-icon me-3"><i class="bi bi-facebook"></i></a>
            <a href="https://www.pinterest.com/YourProfile" target="_blank" class="social-icon"><i class="bi bi-pinterest"></i></a>
        </div>
    </div>
</div>
